html, body {
  margin: 0;
  padding: 0;
  font-family: TitilliumWeb;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-decoration: none;
}

@font-face {
  font-family: TitilliumWeb;
  src: url(fonts/titilliumweb.ttf);
}

@font-face {
  font-family: TitilliumWebSemiBold;
  src: url(fonts/titilliumweb-semibold.ttf);
}

@font-face {
  font-family: TitilliumWebBold;
  src: url(fonts/titilliumweb-bold.ttf);
}

.fill-space {
  flex: 1 0 auto;
}

.semi-bold-text {
  font-family: TitilliumWebSemiBold;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex: none;
  width: 100%;
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  height: 100%;
  width: min(1600px, 95vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 24px;
}

.header-content #strath-logo {
  height: 80%;
}

.header-content > .page-title {
  font-size: 32px;  
}

.subheader {
  flex: none;
  background-color: #1a2e5a;
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheader-content {
  height: 100%;
  width: min(1600px, 95vw);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subheader-content .active p {
  border-bottom: #fff 1px solid;
}

.subheader-nav-link {
  color: #fff;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 18px;
}

.subheader-nav-link p {
  font-size: 16px;
}

.subheader-nav-link:hover p {
  border-bottom: #fff 1px solid;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.main-content {
  margin-top: 12px;
  height: fit-content;
  width: min(1600px, 95vw);
}

.main-content > p.latest {
  font-size: 40px;
  margin: 0;
  border-top: #1a2e5a 4px solid;
  border-left: #1a2e5a 4px solid;
  padding-left: 12px;
  padding-bottom: 8px;
  border-top-left-radius: 16px;
}

.main-content > div.latest {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin: 12px;
}

.latest-card {
  flex: auto;
  max-width: 33%;
  height: 360px;
  box-shadow: 0 0 0 1px #1a2e5a inset;
  border-radius: 12px;
}

.latest-card  * {
  margin: 12px;
}

.latest-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: #1a2e5a 1px solid;
}

.latest-header > p.title {
  font-size: 22px;
  font-family: TitilliumWebSemiBold;
}

.latest-header > p.date {
  font-size: 18px;
}

.latest-content {
  font-size: 18px;
}