@media (prefers-color-scheme: dark) {
  :root {
    --bg-clr: #111;
    --txt-clr: #fff;

    --accent-clr: #203970;
	--sidebar-clr: #16161d;

    --card-bg-clr: #202024;
    --card-txt-clr: #fff;

	--code-bg-clr: #292D34;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-clr: #fff;
    --txt-clr: #16161d;
	
	--sidebar-clr: #16161d;
    --accent-clr: #1a2e5a;
    
	--card-txt-clr: #202024;

	--code-bg-clr: #292D34;
  }
}

.content { margin-top: 36px; }

.content > .cards {
	display: flex;
	flex-direction: row;
	gap: 12px;
	flex-wrap: wrap;
}

.content > p.title {
	font-size: 28px;
	margin: 0 inherit;
}

.content-container {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin-top: 12px;
}

@media screen and (min-width: 0px) {
	.side-content { display: none; }

	.focused-content {
		flex: none;
		width: 100%;
	}

	.item-content img.large { max-width: 100%; }
	.item-content > .container { flex-direction: column; }

	.date-card {
		width: 100%;
		align-self: center;
	}
}

@media screen and (min-width: 768px) {
	.side-content { display: block; }

	.focused-content {
		flex: auto;
		width: auto;
	}

	.item-content > .container { flex-direction: row; }
	.item-content img.large { max-height: 140px; }
	.date-card { max-width: 25%; }
}

@media screen and (min-width: 1500px) {
	.date-card { max-width: 12.5%; }
}

/* Sidebar */

.side-content {
	flex: none;
	width: 300px;
	height: fit-content;
	background-color: var(--accent-clr);
	border-radius: 8px;
}

.side-content > * { margin: 12px; }

.side-content > .list {
	background-color: var(--sidebar-clr);
	border-radius: 8px;
}

.side-content > .list p,
.side-content > .list a {
	margin: 0 12px;
	cursor: pointer;
	display: block;
}

/* Main Content */

.focused-content { height: fit-content; }

.content-item {
	border: var(--accent-clr) 1px solid;
	height: fit-content;
}

.content-border {
	border: var(--accent-clr) 4px solid;
	border-radius: 16px;
}

.content-border > *,
.content-item > * > * { margin: 12px; }

.content-dates {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px;
}
  
.content-container {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin-top: 12px;
}

/* Content Items */

.item-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item-header p { font-size: 24px; }
.item-header img { height: 80px; }

.main-header p { margin: 0 12px; }

.main-header.border-connected {
	border-left: var(--accent-clr) 4px solid;
	border-bottom: var(--accent-clr) 4px solid;
	border-bottom-left-radius: 16px;
}

/* Class Times */

.main-header > .times {
	display: flex;
	flex-direction: row;
}

.main-header > .times tr {
	background-color: var(--accent-clr);
	color: #fff;
}

.main-header > .times tr:nth-child(even) { background-color: #3e4f7c; }
.main-header > .times td { padding: 0 6px; }

/* Table Styling */

.item-content table {
	text-align: center;
	font-size: 18px;
	border-collapse: collapse;
}

.item-content table * {
	padding: 2px 4px;
	border: rgba(255, 255, 255, 0.4) 1px solid;
}

.item-content table #io { background-color: #27272e; }
.item-content table td { min-width: 16px; }

.item-content > .container {
	display: flex;
	gap: 0 36px;
	align-items: baseline;
}

.item-content img { max-height: 100px; }
.item-content { margin: 20px; }

/* Code Box Styling */

.item-content .example-code {
	background-color: var(--code-bg-clr);
	width: fit-content;
	padding: 8px;
	border-radius: 6px;
	font-family: monospace;
	color: #ddd;
	font-size: 16px;
}

.item-content .example-code p { margin: 0; }

/* Syntax Highlighting */

.item-content .example-code span.var { color: #df515d; }
.item-content .example-code span.dec { color: #C678DD; }
.item-content .example-code span.func { color: #1f57b7; }

.list-link {  text-decoration: none; }
.list-link:hover { color: blue; }

/* Due Date Cards */

.date-card {
	background-color: #27272e;
	flex: auto;
	border-radius: 8px;
}

.date-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1a2e5a;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.date-header p { margin: 2px 8px; }

.date-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date-content p {
	text-align: center;
	margin: 4px;
}